@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.menu {
	&__bg {
		@include position($p-fixed, $top: 0, $left: 0);

		background: radial-gradient($primary-light, $primary);
		transition: clip-path 0.8s cubic-bezier(0.83, 0, 0.17, 1);
		width: $base-width;
		height: $base-height;
		z-index: 1000;
		clip-path: circle(0rem at calc(100% - 5.5rem) calc(0% + 5.5rem));
	}
}

.show {
	clip-path: circle(100% at 50% 50%);
}
