@use './variables.scss' as *;
@use './mixins' as *;
@use './breakpoints.scss' as *;

.btn {
	@include font($font-family-secondary, $font-weight-medium);

	cursor: pointer;
	border-radius: $rounded;
	color: $text;
	padding: $p-1 0;
	background-color: $primary;
	border: 1px solid $primary;
	transition: color 300ms ease-in-out, border-color 300ms ease-in-out,
		background-color 300ms ease-in-out;

	&:focus-visible {
		@include outline;
	}

	&-large {
		font-size: $f-8;
		width: 22rem;

		&:hover,
		&:focus-visible {
			background-color: transparent;
		}

		@include nonhover {
			background-color: $primary;
		}
	}

	&-medium {
		font-size: $f-9;
		width: 15rem;

		&:hover,
		&:focus-visible {
			background-color: transparent;
		}

		@media only screen and (hover: none) {
			background-color: $primary;
		}
	}

	&-small {
		font-size: $f-10;
		width: 12rem;

		&:hover,
		&:focus-visible {
			background-color: transparent;
		}

		&:active,
		&:focus-visible {
			background-color: lighten($primary-light, 30%);
			color: $text;
			border-color: lighten($primary-light, 30%);
		}

		@media only screen and (hover: none) {
			background-color: $primary;
			color: $light;
		}
	}

	&-outline {
		background-color: transparent;
		border-color: $primary;

		&:hover,
		&:focus-visible {
			background-color: $primary;
		}

		@media only screen and (hover: none) {
			background-color: transparent;
		}
	}

	&-block {
		width: $base-width;
		font-size: $f-8;
		outline: none;

		&:hover,
		&:focus-visible {
			background-color: transparent;
		}

		@media only screen and (hover: none) {
			background-color: $primary;
		}
	}

	&-round {
		border: none;
		background-color: transparent;
		color: $primary;
		font-size: $f-4;
		padding: $p-1;
		border-radius: $rounded;
	}

	&:disabled {
		background-color: lighten($primary-light, 40%);
		border-color: lighten($primary-light, 40%);
		color: rgba($text, 0.5);
	}
}
