@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.hero {
	@include centered-flex(
		$justify-content: $justify-center,
		$align-items: $align-center
	);

	flex-direction: column-reverse;
	padding: $p-4 $p-5 0;
	height: 70vh;
	background-image: url(../../../public/images/home-bg.svg);
	background-size: cover;

	@include sm {
		height: 75vh;
	}

	@include md {
		height: 90vh;
	}

	&__text {
		text-align: $align-center;
	}

	&__heading {
		@include font($font-family-primary, $font-weight-semi-bold, $f-base * 4);
		line-height: 1.2;

		@include sm {
			font-size: $f-1;
		}
	}

	&__subheading {
		@include font($font-family-secondary, $font-weight-regular, $f-4);
		margin-bottom: $m-2;

		@include sm {
			font-size: $f-3;
		}
	}

	&__links {
		a {
			vertical-align: middle;

			&:last-child {
				margin-left: $m-1;

				svg {
					width: 1.8rem;
					height: 1.8rem;
					fill: $secondary;
					transition: fill $transition;
					margin-left: $m-1;
					vertical-align: middle;
					display: inline-block;
				}

				&:hover,
				&:focus {
					svg {
						fill: $white;
					}
				}
			}
		}
	}

	&__image {
		width: 30rem;
		height: 30rem;
		position: $p-relative;
		margin-bottom: $m-4;
		border-radius: $rounded;
		border: 2px solid $secondary;
		overflow: hidden;
		transform: rotate(5deg);
		@include card-shadow-1;

		transition: transform $transition, box-shadow $transition;
		transform-origin: bottom right;

		&:hover {
			transform: rotate(0deg);
			@include card-shadow-2;
		}

		@media (hover: none) {
			transform: rotate(0deg);
			@include card-shadow-2;
		}

		@include sm {
			width: 35rem;
			height: 35rem;
		}

		@include lg {
			margin: 0;
		}
	}

	@include lg {
		flex-direction: row;
		column-gap: $g-4 * 2;
	}
}
