@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.projects {
	text-align: $align-center;

	@include md {
		padding: $p-4 * 2 0;
	}

	@include lg {
		padding-top: $p-5 * 5;
	}
}
