@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.projects {
	text-align: $align-center;

	@include md {
		padding: $p-4 * 2 0;
	}

	@include lg {
		padding-top: $p-5 * 5;
	}

	&__grid {
		display: $d-grid;
		margin-bottom: $m-4;
		gap: $g-2;

		@include lg {
			grid-template-columns: repeat(12, minmax(0, 1fr));
			margin-bottom: $m-4 * 2;
		}
	}
}
