@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.dropdown {
	width: 27rem;
	position: $p-relative;
	margin: 0 auto $m-3;
	@include font($font-family-secondary, $font-weight-regular, $f-7);

	&__header,
	&__body {
		background-color: $white;
		border: 2px solid $secondary;
		border-radius: $rounded;
	}

	&__header,
	&__item {
		cursor: pointer;
		padding: $p-1 1.4rem;
		font: inherit;
		color: inherit;

		&:focus-visible {
			outline: none;
			background-color: $light-darken;
		}
	}

	&__header,
	&__body,
	&__item {
		width: $base-width;
	}

	&__header {
		margin-bottom: $m-1;

		@include centered-flex(
			$justify-content: $justify-between,
			$align-items: $align-center
		);

		svg {
			width: 1.5rem;
			height: 1.5rem;
			fill: $text;
		}
	}

	&__body {
		position: $p-absolute;
		z-index: 2;
		height: 35rem;
		overflow-y: scroll;
	}

	li {
		transform-origin: -20px 50%;
	}

	&__item {
		border: none;
		text-align: start;
		background-color: transparent;
		transition: background-color $transition;

		@include hover {
			background-color: $light-darken;
		}
	}
}

.selected {
	background-color: $light-darken;
}
