@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modal {
	@include position($p-absolute, $top: -8rem, $left: 50%);

	color: $light;
	padding: $p-2 $p-3;
	border-radius: $rounded;
	text-align: $align-center;
	width: max-content;

	p {
		font-size: $f-7;
		font-weight: $font-weight-medium;
	}

	&__success {
		background-color: $primary-darken;
	}

	&__error {
		background-color: $secondary-darken;
	}
}
