@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints.scss' as *;
@use '../../styles/animation.scss' as *;

.project {
	position: $p-relative;
	overflow: hidden;
	outline: none;
	grid-column: span 6;
	//padding-bottom: 56.2%; /* 16:9 aspect ratio */
	aspect-ratio: calc(4 / 3);
	width: $base-width;
	transition: box-shadow $transition;
	border-radius: $rounded;

	@include card-shadow-2;

	&__link {
		position: $p-absolute;
		inset: 0;
		z-index: 10;
	}

	&__overlay {
		@include absolute($top: 0, $left: 0);
		@include wh;
		@include centered-flex($align-items: flex-end);

		opacity: 0;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 0 $p-2 $p-2;
		transition: opacity $transition 0s;

		@include sm {
			padding: 0 $p-3 $p-3;
		}
	}

	&__desc {
		color: $light;
		width: $base-width;
		letter-spacing: 1px;
		text-align: start;
		transition: transform 400ms ease-in-out 0s;
		@include transform($X: 0, $Y: 200%);
	}

	&__title {
		@include font($font-family-primary, $font-weight-bold, $f-7);
	}

	&__tech {
		margin-bottom: $m-1;
		@include centered-flex(
			$justify-content: $justify-between,
			$align-items: $align-center
		);
	}

	&__tags {
		@include font($font-family-primary, $font-weight-regular, $f-9);
	}

	&__icon {
		width: 1.8rem;
		height: 1.8rem;
		fill: $secondary;
		@include centered-flex();
	}

	&__underline {
		width: $base-width;
		height: 2px;
		background-color: $primary;
	}

	&:focus,
	&:hover {
		@include card-shadow-1;

		.project__overlay {
			opacity: 1;
		}

		.project__desc {
			@include transform($Y: 0, $X: 0);
		}
	}

	@media only screen and (hover: none) {
		.project__overlay {
			opacity: 1;
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.8) 40%,
				rgba(0, 0, 0, 0) 70%
			);
		}

		.project__desc {
			@include transform($Y: 0, $X: 0);
		}
	}
}
