@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.section {
	padding: $p-3 0;

	&__back {
		width: 5rem;
		height: 5rem;
		padding: 1rem;
		margin: 0 0 1rem 0;
		background-color: $primary-light;
		transform: rotate(180deg);
		border-radius: $rounded;
		transition: background-color $transition;

		@include hover {
			background-color: $primary;
		}

		&:focus-visible {
			@include outline;
		}

		svg {
			fill: $text;
			width: $base-width;
			height: $base-height;
		}
	}

	&__title {
		font-size: $f-7 * 2;
		text-align: $align-center;
		position: $p-relative;
		margin-bottom: 5px;
		padding-bottom: 1rem;
		line-height: 1.2;

		&::before {
			content: '';
			margin: 0 auto;
			width: 10rem;
			height: 3px;
			background-color: $primary;

			@include position($p-absolute, $right: 0, $left: 0, $bottom: 0);
			transform: scaleX(1);
			transform-origin: bottom right;
		}

		@include sm {
			font-size: $f-2;
		}
	}

	&__subtitle {
		font-size: $f-7;
		text-align: $align-center;
		margin: 0 0 $m-4 0;

		@include sm {
			font-size: $f-5;
		}
	}

	&__center {
		max-width: 120rem;
		width: 90%;
		margin: 0 auto;
	}

	&__projects {
		padding-top: 16rem;
	}
}
